@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Funnel+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "tailwindcss";
@source "../views";



@plugin "daisyui" {
    themes: light , dark --default;
    root: ":root";
    /*
    include: ;
    exclude: ;
    prefix: ;
    */
    logs: true;
}


@theme {
    /*
    --font-sans: "Poppins";
    */
    /*
    --font-sans: sans-serif;
    */
    --font-sans: "Funnel Sans";
    --color-my-white: "#F5F5F7";
    --color-my-darkblue: "#233A5F";
    --color-my-black: "#2A2A2A";
    --color-my-gray: "#E5E5E5";
    --color-my-github-green: "#22C55E";
    --text-color: "#2A2A2A";
}

@tailwind utilities;


.tippy-box[data-theme~='tomato'] {
    background-color: #605DFF;
    color: white;
}


